.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.my-float {
	margin-top: 16px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {

	--bg-light: #44529f17;
	--bg-color: #fff;
	--text-color: #36454f;
	--second-color: #5a7184;
	--main-color: #44529f;
	--big-font: 4rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

a:hover {
	text-decoration: none;
	color: inherit;
}


header {
	color: var(--main-color);
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding-left: 7%;
	padding-right: 7%;
	transition: ease .40s;
	/* box-shadow: 5px 10px 30px rgb(85 85 85 / 20%); */

}



.logo {
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--main-color);
}

.iata-logo img {

	height: 50px;
	margin-top: 20px;
}

.navbar {

	display: flex;
}

.nav-dropdown {
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: absolute;
	border-radius: 10px;
	background-color: #fff;
	min-width: 10rem;
	padding: .5rem 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

header .navbar .dropdown-content li {
	padding: 10px;
}

header .navbar .dropdown-content a {
	color: black;


}


header .navbar .dropdown-content a:hover {
	color: var(--main-color)
}




.nav-dropdown:hover .dropdown-content {
	display: block;
}

.page-section {
	padding-top: 7%;
	padding-bottom: 55px;
	background-image: url('../img/about-bg.svg');
}

#header {
	padding-top: 30px;
	/* padding-bottom: 25%; */
	/* box-shadow: 5px 10px 30px rgb(85 85 85 / 20%); */
}

#header .navbar a {
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	transition: ease .40s;
}

#header .navbar a:hover {
	color: var(--main-color);

}

#home-header .navbar .dropdown-content a {
	color: #36454f;
}

#home-header .navbar a {
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	transition: ease .40s;
}

#home-header .navbar a:hover {
	color: var(--main-color);

}

#menu-icon {
	color: var(--main-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

hr {
	width: 50px;
	height: 3px;
	margin: auto;
	background-color: var(--main-color);
}

section {
	padding-left: 100px;
	padding-right: 100px;


}

/* .content {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}
.content video {
  width: 100%;
  display: block;
} */

.content h6 {
	color: #44529f;
	font-weight: bold;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);


}


#bg-video {
	/* background-color: rgba(0, 0, 0, 0.5); */
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

/* #bg-video:before {
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
} */
.inclusion_list li {
	margin-left: 18px;
	list-style: square;

}

#home-header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	/* background: url(../img/background.jpg); */
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}

.home-text h1 {
	padding-top: 160px;
	font-size: 44px;
	line-height: 1.2;
	color: var(--bg-color);
	font-family: 'Poppins', sans-serif;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.home-text p {
	color: #ffffffbf;
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}

.home-btn {
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	border: 1px solid #44529f;
	/* background: #ffffffbf; */
	color: var(--main-color);
	border-radius: 4px;
	transition: ease .40s;
}

.home-btn:hover {
	background: var(--main-color);
	color: var(--bg-color);
	transform: scale(1.1);
}

#home-header.sticky {
	background: var(--bg-color);
	/* padding: 30px 10%; */
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#header.sticky {
	background: var(--bg-color);
	/* padding: 30px 10%; */
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


#home-header.sticky .logo {
	color: var(--main-color);
}

#home-header.sticky a {
	color: var(--text-color);
}

.text {
	padding-bottom: 25px;
}

.text h2 {
	text-align: center;
	font-size: var(--h2-font);
	line-height: 1.1;
}

.row-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

.container-box {
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	margin: 10px;
	background: #fafbff;
	/* border: 1px solid #f0eded; */
	padding: 50px 10px;
	border-radius: 4px;
	transition: all 1s ease 0s;
	cursor: pointer;
}

.container-img img {
	height: 85px;
	width: 85px;
	padding: 15px;
	background: var(--bg-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}

.container-box h4 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.container-box p {
	font-size: 15px;
	color: var(--second-color);
}

.container-box:hover {
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	/* border: 1px solid transparent; */
	transform: translateY(-20px);
}

.title {
	text-align: center;
	margin-bottom: 50px;
}

.title h2 {
	font-size: var(--h2-font);
	line-height: 1.2;
}

#package {
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: var(--bg-light);
}

.gallary {
	margin-top: 5rem;

}

.package-content {
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 2rem;
	justify-content: center;

}

.package-content {
	justify-content: center;
}

.thum {

	position: relative;
	transition: all .3s cubic-bezier(.445, .05, .55, .95);
	will-change: filter;
	cursor: pointer;
}

.thum img {
	border-radius: 10%;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.thum h3 {
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(--bg-color);
	top: 36px;
	right: 40px;
}

.dest-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}

.stars i {
	color: var(--main-color);
	font-size: 20px;
}

.stars .faded {
	color: var(--bg-color);
	font-size: 20px;
}

.location h4 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.location p {
	font-size: 15px;
	color: var(--second-color);
}

.thum:hover {
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}

.container {
	padding-top: 10%;
	padding-bottom: 5%;
}

/* .grid-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: minmax(100px, 200px) 1fr 1fr;
	padding: 10px;
} */
#destination {
	padding-top: 55px;
	padding-bottom: 55px;

}

/* .destination-content {
	display: grid;
	
	grid-template-columns: auto, auto, auto;
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	padding-left: 20px;
	padding-right: 20px;

} */

.col-content {

	position: relative;
	/* margin: 10px; */
	padding-bottom: 25px;

}

.col-content img {

	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495, .05, .55, .95);
	will-change: filter;
}

.col-content h5 {
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	color: var(--bg-color);
	left: 15px;
	bottom: 60px;
	padding: 10px;
}

.col-content p {
	position: absolute;
	font-size: 15px;
	color: var(--bg-color);
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
	padding: 10px;

}

.col-content img:hover {
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}

.newsletter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-gap: 3rem;
}

.news-text h2 {
	font-size: var(--h2-font);
	margin-bottom: 5px;
}

.news-text p {
	font-size: var(--p-font);
	color: var(--second-color);
	line-height: 30px;
}

.newsletter form {
	max-width: 100%;
	width: 450px;
	position: relative;
}

.newsletter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 20px 150px 20px 30px;
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	outline: none;
	border: none;
	border-radius: 15px;
}

.newsletter form input:last-child {
	display: inline-block;
	position: absolute;
	outline: none;
	border: none;
	padding: 14px 30px;
	border-radius: 15px;
	background: var(--main-color);
	color: var(--bg-color);
	top: 6px;
	right: 6px;
	cursor: pointer;
}

#contact {
	background: var(--main-color);


}

.map {

	border: 3px solid var(--bg-light);
	border-radius: 10px;
}

.main {
	display: flex;
	flex-wrap: wrap;

}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;

	/* padding: 20px 0; */
}

.list {
	width: 33.33%;
}

.list h4 {
	font-size: 21px;
	color: var(--bg-color);
	margin-bottom: 30px;
	position: relative;
}

.list h4::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 60px;
	left: 0;
	bottom: -10px;
	background: var(--bg-color);
}

.list ul li:not(last-child) {
	margin-bottom: 16px;
}

.list ul li a {
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}

.list ul li a:hover {
	color: var(--bg-color);
	transform: translateX(14px);
}

.list .social a {
	height: 40px;
	width: 40px;
	background: var(--bg-color);
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 10px;
}

.list .social a:hover {
	transform: scale(1.1);
}

.end-text {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: #303c78;
}

.end-text p {
	color: var(--bg-color);
	font-size: 14px;
	letter-spacing: 2px;
}

@media (max-width: 1400px) {

	header {
		/* padding: 10px 3%; */
		padding-left: 10%;
		/* padding: 30px 10%; */
		transition: .2s;
	}

	header.sticky {
		/* padding: 10px 3%; */
		transition: .2s;
	}

	#header {
		padding-top: 30px;
		padding-left: 50px;
		padding-right: 50px;
	}

	#home-header {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 50px;
		padding-right: 50px;
	}

	section {
		padding-left: 50px;
		padding-right: 50px;
		transition: .2s;
	}

	:root {
		--big-font: 4.5rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .2s;
	}
}

@media (max-width: 1007px) {
	header {
		/* padding: 10px 3%; */
		padding-left: 5%;

	}

	#menu-icon {
		display: block;
	}

	.stick #menu-icon {
		color: var(--text-color);
	}

	/* .home {
		height: 100vh;
	} */

	#header .navbar a {
		color: var(--bg-color);

	}


	.text {
		text-align: center;
		margin-top: 15%;
	}

	.navbar {
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 100vh;
		background-color: rgba(0, 0, 0, .8);
		/* background: #1067cc; */
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 30px;
		transition: 0.5s all;
	}

	.navbar a {
		display: block;
		margin: 1.2rem 0;
		color: white;
	}

	#header .navbar .dropdown-content a {
		color: var(--text-color);
	}

	#home-header.sticky a {
		color: var(--bg-color);
	}

	.navbar a:hover {
		color: var(--text-color);
	}

	.open {
		right: 0;
	}

	.list {
		width: 50%;
		margin-bottom: 12px;
	}
}

@media (max-width: 600px) {
	header {
		/* padding: 10px 3%; */
		padding-left: 0%;

	}
	.logo img{
		height: 55px;
	}

	.list {
		width: 100%;
	}

	.newsletter form {
		width: 350px;
	}

	#header .navbar a {
		color: var(--bg-color);

	}

	#home-header.sticky a {
		color: var(--bg-color);
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* background-color: #2196F3; */
		grid-gap: 2rem;
		padding: 10px;
	}

	:root {
		--big-font: 3.8rem;
		--h2-font: 1.8rem;
		transition: .2s;
	}

	.text {
		padding-top: 10%;
		text-align: center;
	}

	.home {
		/* height: 85vh; */
		transition: .2s;
	}
}